block content
  #searchBarCont
    h1 HOPE.
    h4 [H]ackademy [O]pen-Source [P]rojects [E]valuator
    #searchBoxCont
      input(type="search",placeholder="Ex.https://github.com/HackaIran/HOPE")
      div
        i
  footer
    ul
      li
        a(href="#") What is HackaIran?
      li
        a(href="#") HackaIran
      li
        a(href="#") HOPE in GitHub

block script
  script.
    window.test.inititaEvents();
