block content
  #searchBarCont.pjaxFadeItem
    .hidden
      h1 HOPE.
      h4 [H]ackademy [O]pen-Source [P]rojects [E]valuator
    img(class='title-image', src='/images/title.png')
    #searchBoxCont
      input(type='search',placeholder='Ex.https://github.com/HackaIran/HOPE')
      div
        i

block script
  script.
    window.test.inititaEvents();
