extends layout

block content
  #searchBarCont
    h1 HOPE.
    h4 [H]ackademy [O]pen-Source [P]rojects [E]valuator
    #searchBoxCont
      input(type="search",placeholder="Ex.https://github.com/HackaIran/HOPE")
      div
        i

block script
  script.
    window.test.inititaEvents();
