doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Fira+Sans")
  body
    #wrapper
      block content

      footer
        ul
          li
            a(href="#") What is HackaIran?
          li
            a(href="#") HackaIran
          li
            a(href="#") HOPE in GitHub

    script(src='/javascripts/bundle.js')
    block script