extends layout

block content
  #resultCont
    .resultSide
      h1 HOPE.
      h4 [H]ackademy [O]pen-Source [P]rojects [E]valuator
      #searchBoxCont
        input(type="search",placeholder="Ex.https://github.com/HackaIran/HOPE")
        div
          i
      #scoreResultCont
        div
          span.highlight "HackaPanel"
          span  Health:
        div#scoreCont
          div#scoreText.green Good
          span#score.green 68
          span /100

    .resultSide
      h2
        span.highlight "HackaPanel"
        span  Tips:
      #tipsCont
        #tipsSlideCont
          .tip
            i.tipType.warning
            .tipContent
              .tipHeading Some Heading:
              a.tipHelp(href="#").fail
              .tipText some text goes here some text goes here some text goes here some text goes here some text goes here some text goes here 
            a.tipFix(href="#")
          .tip
            i.tipType.warning
            .tipContent
              .tipHeading Some Heading:
              a.tipHelp(href="#").fail
              .tipText some text goes here some text goes here some text goes here some text goes here some text goes here some text goes here 
            a.tipFix(href="#")
          .tip
            i.tipType.warning
            .tipContent
              .tipHeading Some Heading:
              a.tipHelp(href="#").fail
              .tipText some text goes here some text goes here some text goes here some text goes here some text goes here some text goes here 
            a.tipFix(href="#")
          .tip
            i.tipType.warning
            .tipContent
              .tipHeading Some Heading:
              a.tipHelp(href="#").fail
              .tipText some text goes here some text goes here some text goes here some text goes here some text goes here some text goes here 
            a.tipFix(href="#")
          .tip
            i.tipType.warning
            .tipContent
              .tipHeading Some Heading:
              a.tipHelp(href="#").fail
              .tipText some text goes here some text goes here some text goes here some text goes here some text goes here some text goes here 
            a.tipFix(href="#")
          .tip
            i.tipType.warning
            .tipContent
              .tipHeading Some Heading:
              a.tipHelp(href="#").fail
              .tipText some text goes here some text goes here some text goes here some text goes here some text goes here some text goes here 
            a.tipFix(href="#")