extends layout

block content
  #resultCont.pjaxFadeItem.pjaxFadedIn
    .resultSide
      .loadingOverlay
          .spinner
      .hidden
        h1 HOPE.
        h4 [H]ackademy [O]pen-Source [P]rojects [E]valuator
      img(class='title-image', src='/images/title.png')
      #searchBoxCont
        input(type='search', placeholder='Ex.https://github.com/HackaIran/HOPE')
        div
          i
      #scoreResultCont.blur
        div
          span.highlight ""
          span  Health:
        div#scoreCont
          div#scoreText.green Normal
          span#score.green 0
          span /100

    .resultSide
      .loadingOverlay
        .spinner
      h2.blur
        span.highlight ""
        span  tips:
      #tipsCont.blur
        #tipsSlideCont

block script
  script.
    let scrollAnimate = new window.ScrollAnimate();

    window.test.initiateEvents();

    window.test.evaluate(window.getParameterByName('url')).then((result)=>{
      
      result.repositoryUrl = window.getParameterByName('url');

      window.test.appendResult(result);

    })
