extends layout

block content
  #resultCont
    .resultSide
      h1 HOPE.
      h4 [H]ackademy [O]pen-Source [P]rojects [E]valuator
      #searchBoxCont
        input(type="search",placeholder="Ex.https://github.com/HackaIran/HOPE")
        div
          i
      #scoreResultCont
        div
          span.highlight "HackaPanel"
          span  Health:
        div#scoreCont
          div#scoreText.green #{data.scoreText}
          span#score.green #{mark}
          span /100

    .resultSide
      h2
        span.highlight "HackaPanel"
        span  Tips:
      #tipsCont
        #tipsSlideCont
          
block script
  script.
    let scrollAnimate = new window.ScrollAnimate();