block content
  
  .resultSides
    h1 HOPE.
    h4 [H]ackademy [O]pen-Source [P]rojects [E]valuator
    #searchBoxCont
      input(type="search",placeholder="Ex.https://github.com/HackaIran/HOPE")
      div
        i
    #scoreResultCont
      div
        span.highlight "sth"
        span Health is:
      div#scoreText
      div#scoreCont
        span#score
        span

  .resultSide
    h2
      span.highlight "sth"
      span tips:
    #tipsCont
      .tip
        .tipHeading some heading
          a.tipHelp(href="#")
          a.tipFix(href="#")
          i.tipType
        .tipContent some text goes here



