block content
  #resultCont.pjaxFadeItem
    .resultSide
      .loadingOverlay
          .spinner
      .hidden
        h1 HOPE.
        h4 [H]ackademy [O]pen-Source [P]rojects [E]valuator
      img(class='title-image', src='/images/title.png')
      #searchBoxCont
        input(type='search', placeholder='Ex.https://github.com/HackaIran/HOPE')
        div
          i
      #scoreResultCont.blur
        div
          span.highlight ""
          span  Health:
        div#scoreCont
          div#scoreText.green Normal
          span#score.green 0
          span /100

    .resultSide
      .loadingOverlay
        .spinner
      h2.blur
        span.highlight ""
        span  tips:
      #tipsCont.blur
        #tipBottomBlur.tipBlur
        #tipTopBlur.tipBlur.none
        #tipsSlideCont
  

block script
  script.
    window.test.initiateEvents();
  //- scroll
  script.
    $$('#tipsSlideCont').onscroll = ()=>{
      let tips = document.querySelectorAll('.tip');
      let tipsHeight = 0;
      tips.forEach((tip)=>{
        tipsHeight += tip.offsetHeight + 10;
      })

      if($$('#tipsSlideCont').scrollTop == 0){
        $$('#tipTopBlur').classList.add('none');
      }else{
        $$('#tipTopBlur').classList.remove('none');
      }
      
      if (($$('#tipsSlideCont').offsetHeight + $$('#tipsSlideCont').scrollTop) >= tipsHeight) {
        $$('#tipBottomBlur').classList.add('none');
      }else{
        $$('#tipBottomBlur').classList.remove('none');
      }
      
    }