block content
  #resultCont(style='opacity:0;')
    .resultSide
      .loadingOverlay
          .spinner
      .hidden
        h1 HOPE.
        h4 [H]ackademy [O]pen-Source [P]rojects [E]valuator
      img(src='/images/title.png')
      #searchBoxCont
        input(type='search',placeholder='Ex.https://github.com/HackaIran/HOPE')
        div
          i
      #scoreResultCont.blur
        div
          span.highlight 'HackaPanel'
          span  Health:
        div#scoreCont
          div#scoreText.green Good
          span#score.green 68
          span /100

    .resultSide
      .loadingOverlay
        .spinner
      h2.blur
        span.highlight 'HackaPanel'
        span  Tips:
      #tipsCont.blur
        #tipsSlideCont
  footer
    ul
      li
        a(href='#') What is HackaIran?
      li
        a(href='#') HackaIran
      li
        a(href='#') HOPE in GitHub
block script
  script.
    window.test.inititaEvents();