block content
  #resultCont
    .resultSide
      .loadingOverlay
          .spinner
      h1 HOPE.
      h4 [H]ackademy [O]pen-Source [P]rojects [E]valuator
      #searchBoxCont
        input(type="search",placeholder="Ex.https://github.com/HackaIran/HOPE")
        div
          i
      #scoreResultCont.blur
        div
          span.highlight "HackaPanel"
          span  Health:
        div#scoreCont
          div#scoreText.green Good
          span#score.green 68
          span /100

    .resultSide
      .loadingOverlay
        .spinner
      h2
        span.highlight "HackaPanel"
        span  Tips:
      #tipsCont.blur
        #tipsSlideCont
block script
  script.
    window.test.inititaEvents();