doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/adviser.css')
    link(rel='stylesheet', href='/stylesheets/adviser.responsive.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Fira+Sans')
    link(rel="stylesheet", href="/stylesheets/plugins/snackbar.min.css")
  body
    #wrapper
      .startWrapper
        .startBoxWrapper
          img(src='/images/logo.png').logo
          .startBtn
            span Let's choose a license
            i
      .chooserWrapper
        .chooserSliderWrapper
          .questionWrapper.active
            .questionText
            .optionsWrapper
              .option.active Yes
              .option No
              .option Not Sure
    footer
      a(href='http://hackairan.com/hackademy', target='_blank') What is Hackademy?
      span ●
      a(href='http://hackairan.com', target='_blank') HackaIran
      span ●
      a(href='https://github.com/HackaIran/HOPE', target='_blank') HOPE in GitHub

    script(src='/javascripts/adviser.bundle.js')
    script(src='/javascripts/plugins/snackbar.min.js')