doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/HOPE.css')
    link(rel='stylesheet', href='/stylesheets/responsive.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Fira+Sans')
    link(rel="stylesheet", href="/stylesheets/snackbar.min.css")
  body
    #wrapper
      block content

    footer
      a(href='http://hackairan.com/hackademy', target='_blank') What is Hackademy?
      span ●
      a(href='http://hackairan.com', target='_blank') HackaIran
      span ●
      a(href='https://github.com/HackaIran/HOPE', target='_blank') HOPE in GitHub

    script(src='/javascripts/advicer.bundle.js')
    script(src='/javascripts/snackbar.min.js')
    block script