doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/adviser.css')
    link(rel='stylesheet', href='/stylesheets/adviser.responsive.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Fira+Sans')
    link(rel="stylesheet", href="/stylesheets/plugins/snackbar.min.css")
  body
    #wrapper
      .startWrapper
        .startBoxWrapper
          img(src='/images/logo.png').logo
          .startBtn
            span Let's choose a license
            i
      .chooserWrapper
        .loading
          img(src='images/loading.gif')
        .chooserSliderWrapper
          .questionWrapper(data-name='commercialUse').active
            .questionText Are you looking for commercial use?
            .optionsWrapper
              .option(data-value=1) Yes
              .option(data-value=2) No
              .option(data-value=3).active Not Sure
          .questionWrapper
            .questionText Are you looking for commercial use?
            .optionsWrapper
              .option(data-value=1) Yes
              .option(data-value=2) No
              .option(data-value=3).active Not Sure
          .questionWrapper
            .questionText Are you looking for commercial use?
            .optionsWrapper
              .option(data-value=1) Yes
              .option(data-value=2) No
              .option(data-value=3).active Not Sure
          .questionWrapper
            .questionText Are you looking for commercial use?
            .optionsWrapper
              .option(data-value=1) Yes
              .option(data-value=2) No
              .option(data-value=3).active Not Sure
          .questionWrapper
            .questionText Are you looking for commercial use?
            .optionsWrapper
              .option(data-value=1) Yes
              .option(data-value=2) No
              .option(data-value=3).active Not Sure
          .questionWrapper
            .questionText Are you looking for commercial use?
            .optionsWrapper
              .option(data-value=1) Yes
              .option(data-value=2) No
              .option(data-value=3).active Not Sure
        .resultsWrapper
          header Suggested licenses:
          ul
            li
              span.licenseName MIT
              i.help
              span.percent 98%
    script(src='/javascripts/adviser.bundle.js')
    script(src='/javascripts/plugins/snackbar.min.js')